<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PanoPlayer copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>PanoPlayer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>153FD44416D50FEE00465C05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>153FD4D816D5124800465C05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15401D1E16D5146E0037D9C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15401D9B16D514B80037D9C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1542E31316E106A300BD1172</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1588648F16D519FA00F6EA62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15DB909216D875E400AD0A70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2CA9FC016A8E5760040A428</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
